body{
	background-color: white;
	margin:0;
	font-family: "Montserrat","Avenir";
}

.square{
	background-image: url(zero.jpeg);
	background-size: cover;
	background-position: center;
	width: 32%;
	padding-bottom: 32%;
	float: left;
	/*margin: 0%;*/
	/*border-radius:0%;*/
	/*transition: background 0.6s;*/
	/*--webkit-transition: background 0.6s;
	--moz-transition: background 0.6s;*/
}

.square1{
	border-left: 1px solid black;
	border-right: 1px solid black;
	background-image: url(cross.jpeg);
	background-size: cover;
	background-position: center;
	width: 32%;
	padding-bottom: 32%;
	float: left;
	/*margin: 0%;
	border-radius:0%;
	transition: background 0.6s;
	--webkit-transition: background 0.6s;
	--moz-transition: background 0.6s;*/
}

.square2{
	background-image: url(zero.jpeg);
	background-size: cover;
	background-position: center;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	width: 32%;
	padding-bottom: 32%;
	float: left;
	/*margin: 0%;
	border-radius:0%;
	transition: background 0.6s;
	--webkit-transition: background 0.6s;
	--moz-transition: background 0.6s;*/
}

.square3{
	background-image: url(zero.jpeg);
	background-size: cover;
	background-position: center;
	border: 1px solid black;
	width: 32%;
	padding-bottom: 32%;
	float: left;
	/*margin: 0%;
	border-radius:0%;
	transition: background 0.6s;
	--webkit-transition: background 0.6s;
	--moz-transition: background 0.6s;*/
}

#container{
	max-width: 600px;
	margin: 60px auto;
}
h1{
	font-size: 120px;
	color: rgba(0,0,0,0.5);
	line-height: 1.1;
	font-weight: normal;
	text-align: center;
	background:rgb(0,153,153);
	margin: 0;
	text-transform: uppercase;
	padding: 20px 0;
}

#stripe{
	background:white;
	height: 30px;
	text-align: center;
	color:black;
}
.selected{
	background:rgb(0,153,153);
	color: white;
}
#message{
	display: inline-block;
	width:20%;
}
button{
	border: none;
	background: none;
	text-transform: uppercase;
	height:100%;
	font-weight: 700;
	color:rgb(0,153,153);
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 0.3s;
}
button:hover{
	color: white;
	background:rgb(0,153,153);
}